
body {
  background: linear-gradient( rgba(0, 0, 0, 0.445), rgba(0, 0, 0, 0.5) ), url("images/coffee.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

select {
  background: none;
}

#csv {
  color: green;
}

#ndvi {
  width: 95%;
  margin-left: 2.5%;
  scroll-snap-type: y mandatory;
}

#farmPerformance {
  margin-left: 4%;
  scroll-snap-type: y mandatory;
  background: #fff;
  width: 92.5%;
}

.card-header {
  background-color: none !important;
}

#geo-gecko {
  position: fixed;
  bottom: 0px;
  right: 0px;
  padding-left: 2.25%;
}

.contact {
  width: 50px;
  height: auto;
  padding-right: 5px;
  padding-top: 10px;
  margin-right: 30px;
  border: 1px solid #000000;
  padding: 10px 10px;
  border-radius: 10px;
}


/* side bar */
/* cards */
.col-md-6 {
  top: 100px;
}

.col-md-8 {
  width: 50%;
}

/* date picker */
.Button {
background-color:#BEBEBE;
-moz-border-radius:10px;
-webkit-border-radius:10px;
border-radius:10px;
border:1px solid #BEBEBE;
display:inline-block;
cursor:pointer;
color: gray;
font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
font-size:15px;
padding:5px 5px;
text-decoration:none;
text-shadow:0px 0px 0px #BEBEBE;
}

.Button:hover {
background-color:#fff;
text-decoration:none;
color: #000000;

}

.Button:active {
position:relative;
}

.datepicker{
  position: relative;
    border:1px solid lightgray;
}

#from, #to {
  max-width: 28% !important;
}

input {
    border:0;
}

label {
color : gray;
}

p {
  color: rgb(33, 37, 41);
  display: block;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 24px;
  font-weight: 500;
  height: 28px;
  line-height: 28.8px;
  margin-block-end: 12px;
  margin-block-start: 0px;
  margin-bottom: 12px;
  margin-inline-end: 0px;
  margin-inline-start: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  overflow-wrap: break-word;
  text-align: left;
  text-size-adjust: 100%;
  width: 692.656px;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* side bar */
.dropdown-toggle {
  color: rgb(33, 37, 41);
  display: block;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 20px;
  font-weight: 500;
  height: 28px;
  line-height: 28.8px;
  margin-block-end: 12px;
  margin-block-start: 0px;
  margin-bottom: 12px;
  margin-inline-end: 0px;
  margin-inline-start: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  overflow-wrap: break-word;
  text-align: left;
  text-size-adjust: 100%;
  width: 692.656px;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.nav-link:hover{
  background-color: rgba(255, 255, 255, 0.23);
}

#pageSubmenu{
  color: rgb(33, 37, 41);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 18px;
}

.collapsible {
  color: #000000;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 20px;
  cursor: pointer;
  font-weight: 500;
  line-height: 28.8px;
}

/* images */
.location {
  width: 30px;
  height: auto;
  padding-right: 5px;
}

.info {
  width: 30px;
  height: auto;
  padding-right: 5px;
}

/* footer */

.footer p {
    color: orange;
    margin-left:1000px;
}

.footer{
  background-color: #808080;
  padding-bottom: 175px;
}

.datepicker {
  z-index: 9999 !important;
}
